@page "/book/{slug}/{id}"
@model TP1.Pages.Detalhe

<h2 class="my-3">@Model.Book.Name</h2>
<h3 class="my-3">@Model.Book.Author</h3>
<h4 class="my-3">@Model.Genre.GenreString</h4>
<div class="row">
    <div class="col-4">
        <img class="img-fluid rounded" src="@Model.Book.ImageUri">
    </div>
    <div class="col-6">
        <h4><label asp-for="Book.Price"></label>: @Html.DisplayFor(model => model.Book.Price)</h4>
        <h5><label asp-for="Book.FreeDelivery"></label>: @Model.Book.FreeDeliveryDisplay</h5>
        <h5><label asp-for="Book.CreationDate"></label>: @Html.DisplayFor(model => model.Book.CreationDate)</h5>
        <a class="btn my-3 btn-primary" asp-page="Editar" asp-route-id="@Model.Book.Id">Editar</a>
    </div>
</div>