@page "/book/{slug}/{id}"
@model TP1.Pages.Detalhe

<h2 class="my-3">@Model.Book.Name</h2>
<h3 class="my-3">@Model.Book.Author</h3>
<div class="row">
    <div class="col-4">
        <img class="img-fluid rounded" src="@Model.Book.ImageUri">
    </div>
    <div class="col-6">
        <ul>
            <li><label asp-for="Book.Price"></label>: @Html.DisplayFor(model => model.Book.Price)</li>
            <li><label asp-for="Book.FreeDelivery"></label>: @Model.Book.FreeDeliveryDisplay</li>
            <li><label asp-for="Book.CreationDate"></label>: @Html.DisplayFor(model => model.Book.CreationDate)</li>
        </ul>
        <a class="btn my-3 btn-primary">Editar</a>
    </div>
</div>